@page
@using Microsoft.Extensions.Localization
@using Feramor.Abp.AuditLogging.ElasticSearch.Localization
@using Feramor.Abp.AuditLogging.ElasticSearch.Web.Pages.ElasticSearch
@model Feramor.Abp.AuditLogging.ElasticSearch.Web.Pages.ElasticSearch.IndexModel
@inject IStringLocalizer<ElasticSearchResource> L

@{
}
<h1>ElasticSearch</h1>
<p>@L["SamplePageMessage"]</p>
